body {
	background: tan;
	text-align: center;
}

.one {
	font-size: 60px;
	background-color: brown;
	color: orange;
	text-transform: uppercase;
	padding: 15px 30px;
}

.btn-one:hover {
  background: silver;
  color: white;
}

.two {
  background-color: orange;
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: 60px;
  color: brown;
}

.btn-two {
  padding: 5px 10px;
  border-radius: 4px;
}

.btn-two:hover {
  background: silver;
  color: white;
}

.three {
  background-color: black;
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: 60px;
  color:  orange;
}

.btn-three {
  padding: 10px 15px;
  border-radius: 5px;
}

btn-three:hover {
  background-color: silver;
  color: white;
}

.four {
  background-color: white;
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: 60px;
  color:  orange;
}

.btn-four {
  padding: 15px 20px;
  border-radius: 5px;
}

.btn-four:hover {
  background-color: silver;
  color: white;
}




