body {
	background: tan;
	text-align: center;
}

h1 {
  text-align: center;
  color: black;
  text-decoration: underline;
  font-weight: 800px;
  padding: 30px 60px;
  font-size: 4rem;
  text-transform: uppercase;
}

.one {
	font-size: 60px;
	background-color: brown;
	color: orange;
	text-transform: uppercase;
	padding: 15px 30px;
}
button {
  text-transform: capitalize;
}

.btn-one:hover {
  background: silver;
  color: white;
  border: 1px solid black;
  font-weight: bold;
}

.two {
  background-color: orange;
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: 60px;
  color: brown;
}

.btn-two {
  padding: 5px 10px;
  border-radius: 4px;
}

.btn-two:hover {
  background: silver;
  color: white;
  border: 1px solid black;
  font-weight: bold;
}

.three {
  background-color: black;
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: 60px;
  color:  orange;
}

.btn-three {
  padding: 5px 20px;
  border-radius: 5px;
}

.btn-three:hover {
  background-color: silver;
  color: white;
  border: 1px solid black;
  font-weight: bold;
}

.four {
  background-color: white;
  text-transform: uppercase;
  padding: 5px 25px;
  font-size: 60px;
  color:  orange;
}

.btn-four {
  padding: 5px 30px;
  border-radius: 5px;
}

.btn-four:hover {
  font-weight: bold;
  background-color: silver;
  color: white;
  border: 1px solid black;
}




